.masonary {
    display: flex;
}

.animate-slide-fwd {
    animation: slide-fwd 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940)both;
}

.post-body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

@keyframes slide-fwd {
    0% {
        -webkit-transform: translateZ(0px);
        transform: translateZ(0px);
    }

    100% {
        -webkit-transform: translateZ(160px);
        transform: translateZ(160px);
    }
}

.pin {
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.pin:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.pin-img {
    border-radius: 0.5rem;
    /* max-width: 320px; */
}